<div class="row">
    <div class="col-xl-4 mb-4">
        <a class="card lift h-100" href="javascript:void(0);"
            ><div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                        <i-feather class="feather-xl text-primary mb-3" name="package"></i-feather>
                        <!--Bimal-->
                        <h5>Sand Boxed Products</h5>
                        <div class="text-muted small">To develop Hololens IoT and Xbox Apps</div>
                    </div>
                    <img src="assets/img/illustrations/sbe.jpg" alt="..." style="width: 8rem" />
                </div></div
        ></a>
    </div>
    <div class="col-xl-4 mb-4">
        <a class="card lift h-100" href="javascript:void(0);"
            ><div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                        <i-feather class="feather-xl text-secondary mb-3" name="book"></i-feather>
                        <h5>Web Products</h5>
                        <div class="text-muted small">To develop web apps</div>
                    </div>
                    <img src="assets/img/illustrations/web.jpg" alt="..." style="width: 8rem" />
                </div></div
        ></a>
    </div>
    <div class="col-xl-4 mb-4">
        <a class="card lift h-100" href="javascript:void(0);"
            ><div class="card-body d-flex justify-content-center flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-3">
                        <i-feather class="feather-xl text-green mb-3" name="layout"></i-feather>
                        <h5>Desktop Products</h5>
                        <div class="text-muted small">To develop desktop apps</div>
                    </div>
                    <img src="assets/img/illustrations/dsk.jpg" alt="..." style="width: 8rem" />
                </div></div
        ></a>
    </div>
</div>
